header {
    background-color: var(--primary-color-dark);
}

.header-flex {
    margin-inline: 2%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-block: 0.1rem;
    margin-bottom: 1rem;
}
